.App {
  display: flex;
  text-align: center;
}

.Search_col {
  width: 15%;
  border-right: 2px #888 solid;
  margin-right: 10px;
  height:100vh;
  position:fixed;
}

.Skill_col {
  width: 85%;
  margin-left: 15%;
}
